.help {
	border-top: 3px solid #f3058e;
	padding: 30px 0 20px;
}

.help ul li {
	float: left;
	width: 105px;
	padding-left: 70px;
	padding-right: 15px;
}

.help ul .bg1 {
	background: url(/toyRenting/static/images/help_li_bg1.png) no-repeat
		left 5px;
}

.help ul .bg2 {
	background: url(/toyRenting/static/images/help_li_bg2.png) no-repeat
		left top;
}

.help ul .bg3 {
	background: url(/toyRenting/static/images/help_li_bg3.png) no-repeat
		left top;
}

.help ul .bg4 {
	background: url(/toyRenting/static/images/help_li_bg4.png) no-repeat
		left top;
}

.help ul .bg5 {
	background: url(/toyRenting/static/images/help_li_bg5.png) no-repeat
		left top;
}

.help ul li h3 {
	height: 25px;
	font-size: 16px;
	line-height: 25px;
	color: #c10071;
}

.help ul li p {
	line-height: 20px;
	color: #333;
}

.footer_nav {
	background-color: #aaa;
	height: 36px;
	line-height: 36px;
}

.footer_nav ul {
	padding-left: 280px;
	width: 720px;
}

.footer_nav ul li {
	float: left;
	background: url(/toyRenting/static/images/footernav_li_bg.png) no-repeat
		right center;
}

.footer_nav ul li a {
	color: #fff;
	padding: 0px 20px;
}

.footer_nav ul .no_bg {
	background: none;
}

.copyright {
	padding: 15px 0px;
	text-align: center;
	line-height: 20px;
	color: #666;
}