/*   商品详情  */
.products_tetail {
	width: 976px;
	margin: 0 auto;
	border: solid 2px #ffdff0;
}

.products_tetail .detail_img {
	width: 385px;
	float: left;
	border-right: solid 2px #ffdff0;
	padding-left: 35px;
	padding-bottom: 20px;
}

/*   商品详情图  */
#bigpicarea {
	position: relative;
	width: 350px;
	padding: 15px 0px;
	height: 350px;
	overflow: hidden;
}

.image img {
	border: #ececec 1px solid;
}

#thumbs {
	width: 410px;
}

#thumbs li {
	margin: 0 3px 0 0;
	display: inline;
	float: left;
}

#thumbs li.first {
	margin: 23px 2px 0px 0px;
	cursor: pointer;
}

#thumbs li.last {
	margin: 23px 0 0 0;
	cursor: pointer;
}

#thumbs li a {
	border: solid 0px #fff;
	width: 75px;
	display: block;
}

#thumbs li a:hover {
	border: solid 2px #f8ae0f;
}

#thumbs li a.current {
	border: solid 2px #f8ae0f;
}

/*   商品详情信息  */
.products_tetail .detail_info {
	width: 520px;
	padding-left: 30px;
}

.products_tetail .detail_info h2 {
	line-height: 30px;
	color: #c4017b;
	font-size: 16px;
	margin-top: 40px;
}

.products_tetail .detail_info p {
	line-height: 20px;
	padding: 10px 0px;
	font-size: 14px;
}

.products_tetail .detail_info p span {
	display: inline-block;
	width: 80px;
}

.products_tetail .detail_info p  s {
	color: #666;
}

.products_tetail .detail_info p font {
	color: #e11111;
	font-size: 16px;
}

.products_tetail .detail_info .btn a {
	display: inline-block;
	width: 196px;
	height: 64px;
	line-height: 64px;
	background: url(/toyRenting/static/images/btn_bg.png) no-repeat;
	text-align: center;
	font-size: 26px;
	color: #fff;
	font-family: "微软雅黑";
}

.products_tetail .detail_info .btn a:hover {
	text-decoration: none;
	background: url(/toyRenting/static/images/btn_hover_bg.png) no-repeat;
}

/*   商品详情 页签  */
.detail_tab {
	margin-top: 20px;
	margin-bottom: 20px;
}

#con {
	font-size: 12px;
}

#tags {
	height: 47px;
	line-height: 47px;
	border: solid 1px #ee9fbe;
	background-color: #fff2f9;
}

#tags li {
	float: left;
	height: 47px;
	line-height: 47px;
	border-right: solid 1px #ee9fbe;
	background-color: #fff2f9;
}

#tags li a {
	display: block;
	padding: 0px 50px;
	font-size: 14px;
}

#tags li a:hover {
	text-decoration: none;
	color: #f3068a;
}

#tags li.emptytag {
	background-color: #fff;
}

#tags li.selecttag {
	background-color : #c20072;
	margin-bottom: -2px;
	position: relative;
}

#tags li.selecttag a {
	display: block;
	padding: 0px 50px;
	color: #f3068a;
	font-weight: bold;
}

#tagcontent {
	border: solid 1px #fde1ed;
	background-color: #fff;
	line-height: 20px;
}

.tagContent {
	DISPLAY: none;
	padding: 10px;
	width: 958px;
	min-height: 300px;
	position:relative;
}

#tagContent div.selectTag {
	DISPLAY: block
}

#tagContent div .markTitle {
    background: url("/toyRenting/static/images/para-icon.png") no-repeat;
    background-size: 100px 29px;
    padding: 5px 0 0 36px;
    height: 30px;
    font-size: 15px;
}

#tagContent div #marks li.mark{
	margin-left:20px;
	margin-bottom: 6px;
	background: url("/toyRenting/static/images/list-icon.png") no-repeat 0 2px;
	background-size: 14px 13px;
	padding-left: 24px;
	line-height: 1.3;
	font-size: 15px;
}

#tagContent .comments table tr .hasBot{
	border-bottom:1px solid #666666;
}