/*   所有玩具  */
.crumbs {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #c20072;
	padding-left: 15px;
}

.crumbs a {
	font-size: 12px;
	color: #666;
}
/*   筛选  */
.cur {background-color: #c20072;color: #fff;}

.filter {
	width: 976px;
	margin: 0 auto;
	border: solid 2px #fedff1;
	background-color: #fff2f9;
	border-width: 2px 2px 0;
}

.filter_info {
	line-height: 25px;
	padding: 10px 20px;
	overflow: hidden;
}

.filter_info li {
	margin: 5px 0px;
}

.filter_info li p {
	overflow: hidden;
	width: 720px;
	float: left;
}

.filter_info li p a {
	float: left;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
	margin: 0px 5px;
	white-space: nowrap;
}

.filter_info li p  a:hover {
	background-color: #c20072;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.filter_info li .filter_title {
	width: 140px;
	text-align: left;
	float: left;
	color: #c20072;
	display: block;
}

.filter_info li .filter_title span {
	float: left;
	display: block;
}

.filter_info li .filter_title  a {
	float: right;
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0px 10px;
}

.filter_info li dl dd.more a {
    background: none repeat scroll 0 0 #da487e;
    border: 1px solid #aaa;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    width: 70px;
    color: #fff;
}

.filter_info li p a.hideBrandNode {
	display : none;
}

.filter_info li dl dd a.hideShowBtn {
	display : none;
}

/*   商品列表  */
.products_box {
	width: 978px;
	margin: 10px auto;
	border: solid 1px #f29ec2;
}

.products_box ul li {
	float: left;
	text-align: center;
	line-height: 20px;
	border-right: solid 1px #ddd;
}

.products_box ul .productsinfo {
	border-bottom: 1px solid #ddd;
	height: 260px;
	width: 243px;
	padding: 10px 0px;
}

.products_box ul li:hover {
	background-color: #fff2f9;
}

.products_box ul .productsinfo .pic {
	position: relative;
	text-align: center;
	line-height: 160px;
	margin: 0 auto;
	vertical-align: middle; /*缩略图大于样式定义宽度时样式：*/
	display: table\9;
	table-layout: fixed\9;
	height: 160px;
	height: 160px\9;
	line-height: 160px;
	vertical-align: middle;
	display: block;
	zoom: 1;
	text-align: center;
	font-size: 160px;
	overflow: hidden;
}

.products_box ul li . Productsinfo:hover {
	background-color: #ff2f9
}

.products_box ul .productsinfo .pic img, #right_nav img {
	vertical-align: middle;
	max-height: 160px;
	max-width: 220px;
	transition: all 1s ease-in-out 0s;
}

.products_box ul .productsinfo .pic img:hover, #right_nav img:hover {
	transform: scale(1.2);
}

.products_box ul .productsinfo .rentMoney {
	text-align:left;
	margin-left:28px;
	margin-top : 15px;
    height: 25px;
    color: #fed030;
    font-size: 17px;
}


.products_box ul li .titile {
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	overflow: hidden;
}

.products_box ul li s {
	color: #cacaca;
}

.products_box .no_border {
	border: none;
}

.products_box ul .productsinfo {
    color: #b3b3b3;
    font-size: 12px;
}
.products_box ul .productsinfo .purchaseMny {
	text-align:left;
	margin-left:28px;
	text-decoration: line-through;
}


.rankOp {
     background-color: #fff2f9;
     border: 1px solid #dbdbdb;
     height: 36px;
     line-height: 36px;
     width: 976px;
     margin: auto;
}

.rankOp ul, .rankOp ul li {
     float: left;
}

.rankOp ul.rank li {
     border-right: 1px solid #dbdbdb;
}

.rankOp ul.rank li a {
     display: block;
     padding: 0px 20px;
}

.rankOp ul.rank li a:hover {
     background: none repeat scroll 0% 0% #ffffff;
}

.rankOp ul.rank li.default span {
     background-position: right -760px;
}

.rankOp ul.rank li.defaultPrice span {
     background-position: right -608px;
}

.rankOp ul.rank li.defaultPrice.priceUp span {
     background-position: right -646px;
     color: #cc0000;
     font-weight: bold;
}

.rankOp ul.rank li.defaultPrice.priceDown span {
     background-position: right -722px;
     color: #cc0000;
     font-weight: bold;
}

.rankOp ul.rank li.defaultPrice.priceUp a, .rankOp ul.rank li.defaultPrice.priceDown a {
     background-color: #ffffff;
}

.rankOp ul.rank li.up a, .rankOp ul.rank li.down a, .rankOp ul.rank li.normal {
     background: none repeat scroll 0% 0% #ffffff;
     color: #cc0000;
     font-weight: bold;
}

.rankOp ul.rank li.up span {
     background-position: right -797px;
}

.rankOp ul.rank li.down span {
     background-position: right -683px;
}

.pagination{
	margin: auto;
	float: right;
	margin-right: 268px;
}